@model Web.Models.Doctor.PatientDetailViewModel
@{
    ViewData["Title"] = "PatientDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@TempData["PName"] @TempData["PLastName"]</h3>
<div class="card border border-light my-5" style="max-width:100%;">
    <div class="card-header" style="padding:0.75em 1.25em 0.25em; /*color:white;*/"><h3>Medicine Records</h3></div>

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Daily Times</th>
                    <th>Usage Time List</th>
                    <th>Side Effect</th>
                    <th>Detail</th>
                </tr>
            </thead>
            @foreach (var item in Model.Medicine)
            {
                <tr>
                    <td>@item.MedicineName</td>
                    <td>@item.MedicineFrequency</td>
                    <td>@item.MedicineUsegeTimeList</td>
                    <td>@item.MedicineSideEffect</td>
                    <td><a class="btn btn-warning btn-sm" href="/Doctor/PatientMedicineDetail/@item.MedicineRecordId">Detail</a></td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card border border-light my-5" style="max-width:100%;">
    <div class="card-header" style="padding:0.75em 1.25em 0.25em; /*color:white;*/"><h3>Glass Records</h3></div>

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            @foreach (var item in Model.GlassRecord)
            {
                <tr>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.DiffDate</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card border border-light" style="max-width:100%;">
    <div class="card-header" style="padding:0.75em 1.25em 0.25em; /*color:white;*/"><h3>Eye Pressure Records</h3></div>

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Left Eye</th>
                    <th>Right Eye</th>
                </tr>
            </thead>
            @foreach (var item in Model.EyePressure)
            {
                <tr>
                    <td>@item.EyePressureDate</td>
                    <td>@item.LeftEyePressure</td>
                    <td>@item.RightEyePressure</td>
                </tr>
            }
        </table>
    </div>
</div>
